@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gradient-to-r from-black via-indigo-500 to-indigo-700  h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 
*/


/* REACT TAGS */
.ReactTags__tags {
  @apply relative flex flex-col-reverse
}

.ReactTags__tagInput {
  @apply w-full rounded-sm inline-block
}

.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  @apply h-[31px] m-0 text-sm w-full block py-4 px-3 text-gray-50 placeholder-gray-50 font-medium outline-none bg-transparent border border-gray-400 hover:border-white focus:border-green-500 rounded-lg
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  @apply border-[#ddd] bg-rose-300 text-white text-sm inline-block p-1 m-1 rounded-lg

}
span.ReactTags__tag,.video-tags {
  @apply border-[#ddd] bg-rose-300 text-white text-sm inline-block py-2 px-3 m-1 rounded-lg min-w-[5em] text-center

}
.ReactTags__selected{
  @apply max-h-80 p-4 overflow-y-auto my-2 border-gray-400 border-[1px] rounded-lg
}
.ReactTags__selected a.ReactTags__remove {
  @apply text-zinc-500 ml-1 cursor-pointer
}

/* Styles for suggestions */
.ReactTags__suggestions {
  /* position: absolute; */
}
/* .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 100%;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
} */

.ReactTags__remove {
  @apply border-0 cursor-pointer bg-transparent text-white
}
